@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONTS */


/*
font-family: "Oswald", sans-serif;
 font-family: "Roboto Condensed", sans-serif;
   font-family: "Barlow Condensed", sans-serif;


git add .
git commit -m 'c'
git push

*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow-y: hidden;  */
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: #FBFCF8;
    position: fixed;
    z-index: 30;
    top: 0;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

header .head {
    display: flex;
    /* justify-content: space-between; */
    width: 85%;
    align-items: center;
    color: #FBFCF8;
}

header .head .logo img {
    width: 70%;
}

header .head .logo {
    display: flex;
    align-items: center;
    width: 30%;
}

header .head .menu .bx {
    display: none;
}

header .head .nav nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 90px;
}

header .head .nav nav ul li a {
    text-decoration: none;
    color: #020180;
    /* font-family: "Poppins", sans-serif; */
    font-family: 'poppins', sans-serif;
    /* font-family: "Barlow Condensed", sans-serif; */
    /* font-family: "Oswald", sans-serif; */
    padding: 0px 10px;
    font-weight: 400;
    font-size: 17px;
}

header .head .nav nav ul li a:hover {
    color: #787878;
}

header .head .nav nav ul li .call {
    margin-left: 140px;
    color: rgb(47, 50, 125);
    background-color: transparent;
    margin-bottom: 30px;
    border: 1px solid rgb(47, 50, 125);
    padding: 4px 20px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

header .head .nav nav ul li .call:hover {
    background-color: #020181;
    color: white;
}

header .head #nav-overlay {
    display: none;
}

.vision {
    width: 100%;
    background-image: url(../images/virtual7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 150px 0px;
}

.vision .overlay {
    width: 100%;
    height: 100%;
    /* background-color: #213B52; */
    /* background-color: #074D48; */
    background-color: #020180;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    top: 0;
}

.vision .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.vision .content h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
}

.vision .content p {
    width: 70%;
    margin: auto;
    color: #FBFCF8;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.who {
    width: 100%;
    background-color: #FBFCF8;
    padding-top: 30px;
}

.who .container {
    width: 85%;
    margin: auto
}

.who .container h2 {
    width: 100%;
    color: #FBFCF8;
    background-color: #020180;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
}

.who .body {
    width: 75%;
    background-color: transparent;
    margin: auto;
    color: rgb(105, 105, 132);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.who .mission {
    width: 75%;
    background-color: transparent;
    margin: auto;
    color: rgb(105, 105, 132);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.team {
    width: 100%;
    background-color: #FBFCF8;
}

.team .container {
    width: 85%;
    background-color: transparent;
    display: flex;
    margin: auto;
    justify-content: center;
}

.team .container h2 {
    width: 100%;
    color: #FBFCF8;
    background-color: #020180;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
    text-align: center;
}

.team .container .user {
    /* border-radius: 20px; */
    width: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .container .user img {
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
}

.team .container .user h3 {
    background-color: transparent;
    margin: auto;
    color: rgb(82, 82, 143);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-right: 5px;
    padding-left: 5px;
    /* text-align: center; */
}

.team .container .user h4 {
    background-color: transparent;
    margin: auto;
    color: rgb(105, 105, 132);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    text-align: auto;
    padding-left: 5px;
    font-weight: 400;
    /* text-align: center; */
}

.footer {
    /* height: 68vh; */
    background: #020180;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
}

.footer .container {
    width: 100%;
}

.footer .container .container2 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
}

.footer .container .container2 .logo {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer .container .container2 .logo img {
    width: 220px;
    height: 55px;
}

.footer .container .container2 .div1 {
    width: 30%;
    padding-right: 20px;
    border-right: 1px solid white;
}

.footer .container .container2 .div2 {
    width: 17%;
    /* height: 215px; */
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.footer .container .container2 .div2 a {
    padding-bottom: 10px;
    color: #c4c0c0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div3 {
    width: 23%;
    /* height: 215px; */
    border-right: 1px solid #c4c0c0;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-top: 20px;
    /* padding-right: 8px; */
}

.footer .container .container2 .div3 a {
    padding-bottom: 10px;
    color: #c4c0c0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 {
    width: 24%;
    /* height: 215px; */
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
}

.footer .container .container2 .div4 #call {
    padding-bottom: 10px;
    color: #c4c0c0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 #em {
    padding-bottom: 10px;
    color: #c4c0c0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}

.footer .container .container2 .div4 .socials {
    display: flex;
    margin-top: 15px;
}

.footer .txt1 {
    width: 78%;
    margin: auto;
    margin-bottom: 40px;
}

.footer .txt1 p {
    color: #c4c0c0;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}

.footer .last {
    margin-top: 10px;
}