    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* FONTS */
    /*
font-family: "Oswald", sans-serif;
 font-family: "Roboto Condensed", sans-serif;
   font-family: "Barlow Condensed", sans-serif;


git add .
git commit -m 'c'
git push

*/
    
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        /* overflow-y: hidden;  */
        scroll-behavior: smooth;
    }
    
    header {
        width: 100%;
        display: flex;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        background-color: #FBFCF8;
        position: fixed;
        z-index: 30;
        top: 0;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    }
    
    header .head {
        display: flex;
        /* justify-content: space-between; */
        width: 85%;
        align-items: center;
        color: #FBFCF8;
    }
    
    header .head .logo img {
        width: 70%;
    }
    
    header .head .logo {
        display: flex;
        align-items: center;
        width: 30%;
    }
    
    header .head .menu .bx {
        display: none;
    }
    
    header .head .nav nav ul {
        display: flex;
        list-style-type: none;
        margin-left: 90px;
    }
    
    header .head .nav nav ul li a {
        text-decoration: none;
        color: #020180;
        /* font-family: "Poppins", sans-serif; */
        font-family: 'poppins', sans-serif;
        /* font-family: "Barlow Condensed", sans-serif; */
        /* font-family: "Oswald", sans-serif; */
        padding: 0px 10px;
        font-weight: 400;
        font-size: 17px;
    }
    
    header .head .nav nav ul li a:hover {
        color: #787878;
    }
    
    header .head .nav nav ul li .call {
        margin-left: 140px;
        color: rgb(47, 50, 125);
        background-color: transparent;
        margin-bottom: 30px;
        border: 1px solid rgb(47, 50, 125);
        padding: 4px 20px;
        border-radius: 25px;
        font-weight: 500;
        font-size: 0.875rem;
        font-family: "Poppins", sans-serif;
        cursor: pointer;
    }
    
    header .head .nav nav ul li .call:hover {
        background-color: #020181;
        color: white;
    }
    
    header .head #nav-overlay {
        display: none;
    }
    
    .vision {
        width: 100%;
        background-image: url(../images/map3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 150px 0px;
    }
    
    .vision .overlay {
        width: 100%;
        height: 100%;
        /* background-color: #213B52; */
        /* background-color: #074D48; */
        background-color: #020180;
        opacity: 0.7;
        z-index: 1;
        position: absolute;
        top: 0;
    }
    
    .vision .content {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
    }
    
    .vision .content h1 {
        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'poppins', sans-serif;
        font-weight: 500;
    }
    
    .vision .content p {
        width: 70%;
        margin: auto;
        color: #FBFCF8;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    .contact {
        width: 100%;
        background-color: #FBFCF8;
        padding-top: 20px;
        padding-left: 20px;
        margin: center;
        padding-bottom: 50px;
    }
    
    .contact form {
        justify-self: center;
        width: 70%;
        margin-left: 350px;
    }
    
    .contact form label {
        font-family: 'poppins', sans-serif;
        font-size: 13px;
        margin-bottom: 50px;
    }
    
    .contact form #options {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 250px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
        color: #020180;
        /* color: #67d9fc; */
        font-family: 'poppins', sans-serif;
        font-size: 13px;
        margin-bottom: 20px;
    }
    
    .contact form .drop {
        color: #999;
    }
    
    .contact form #name {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 390px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-bottom: 20px;
    }
    
    .contact form #name:hover {
        border: 1.5px solid #67d9fc;
    }
    
    .contact form #company {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 390px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-bottom: 20px;
    }
    
    .contact form #company:hover {
        border: 1.5px solid #67d9fc;
    }
    
    .contact form #email {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 390px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-bottom: 20px;
    }
    
    .contact form #email:hover {
        border: 1.5px solid #67d9fc;
    }
    
    .contact form #subject {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 390px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
        margin-bottom: 20px;
    }
    
    .contact form #subject:hover {
        border: 1.5px solid #67d9fc;
    }
    
    .contact form #message {
        padding-top: 10px;
        padding-bottom: 70px;
        padding-right: 400px;
        padding-left: 10px;
        border-radius: 3px;
        border: 1px solid #999;
    }
    
    .contact form #message:hover {
        border: 1.5px solid #67d9fc;
    }
    
    .contact form .placeholder {
        font-family: 'poppins', sans-serif;
        font-size: 13px;
    }
    
    .contact form button {
        background-color: transparent;
        padding: 5px 35px;
        margin-top: 20px;
        border-radius: 19px;
        border: 0.1px solid grey;
        font-family: 'poppins', sans-serif;
    }
    
    .contact form button:hover {
        background-color: #038050;
        color: #FFFFFF;
        transition: 0.2s ease-in;
    }
    
    .info {
        width: 100%;
        background-color: #FBFCF8;
    }
    
    .info .container {
        width: 80%;
        display: flex;
        margin: auto;
        padding-bottom: 50px;
        gap: 40px;
    }
    
    .info .container .tab {
        background-color: #FFFFFF;
        border: 5px;
        padding: 10px 10px;
        width: 30%;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .info .container .tab h3 {
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: rgb(57, 57, 156);
    }
    
    .info .container .tab p {
        text-align: center;
        font-family: 'poppins', sans-serif;
        font-size: 14px;
        color: rgb(92, 92, 141);
    }
    
    .info .container .tab .bi-geo-alt {
        fill: #020180;
        margin-top: 10px;
        margin-left: 135px;
        width: 30px;
        height: 30px;
    }
    
    .info .container .tab .bi-telephone {
        fill: #020180;
        margin-top: 10px;
        margin-left: 135px;
        width: 30px;
        height: 30px;
    }
    
    .info .container .tab .bi-envelope-check {
        fill: #020180;
        margin-top: 10px;
        margin-left: 132px;
        width: 30px;
        height: 30px;
    }
    /* .info .container .whatsapp {
        width: 80px;
        height: 80px;
        border-radius: 50px;
        background-color: #7c7cf3;
    } */
    /* .info .container .whatsapp .bi-whatsapp {
        fill: green;
        margin-top: 15px;
        margin-left: 45px;
        width: 20px;
        height: 20px;
    } */
    
    .footer {
        /* height: 68vh; */
        background: #020180;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .footer .container {
        width: 100%;
    }
    
    .footer .container .container2 {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: nowrap;
        gap: 1%;
    }
    
    .footer .container .container2 .logo {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    
    .footer .container .container2 .logo img {
        width: 220px;
        height: 55px;
    }
    
    .footer .container .container2 .div1 {
        width: 30%;
        padding-right: 20px;
        border-right: 1px solid white;
    }
    
    .footer .container .container2 .div2 {
        width: 17%;
        /* height: 215px; */
        border-right: 1px solid white;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-top: 20px;
    }
    
    .footer .container .container2 .div2 a {
        padding-bottom: 10px;
        color: #c4c0c0;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 200;
    }
    
    .footer .container .container2 .div3 {
        width: 23%;
        /* height: 215px; */
        border-right: 1px solid #c4c0c0;
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        padding-top: 20px;
        /* padding-right: 8px; */
    }
    
    .footer .container .container2 .div3 a {
        padding-bottom: 10px;
        color: #c4c0c0;
        text-decoration: none;
        font-family: 'poppins', sans-serif;
        font-size: 14px;
        font-weight: 200;
    }
    
    .footer .container .container2 .div4 {
        width: 24%;
        /* height: 215px; */
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 20px;
    }
    
    .footer .container .container2 .div4 #call {
        padding-bottom: 10px;
        color: #c4c0c0;
        text-decoration: none;
        font-family: 'poppins', sans-serif;
        font-size: 14px;
        font-weight: 200;
    }
    
    .footer .container .container2 .div4 #em {
        padding-bottom: 10px;
        color: #c4c0c0;
        text-decoration: none;
        font-family: 'poppins', sans-serif;
        font-size: 14px;
        font-weight: 200;
    }
    
    .footer .container .container2 .div4 .socials {
        display: flex;
        margin-top: 15px;
    }
    
    .footer .txt1 {
        width: 78%;
        margin: auto;
        margin-bottom: 40px;
    }
    
    .footer .txt1 p {
        color: #c4c0c0;
        font-family: 'poppins', sans-serif;
        font-size: 15px;
        text-align: center;
        line-height: 25px;
    }
    
    .footer .last {
        margin-top: 10px;
    }